//
//  AppConfig.xcconfig
//  StreetTagged
//
//  Created by John O'Sullivan on 1/11/20.
//  Copyright © 2020 John O'Sullivan. All rights reserved.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

SPPERMISSION_CAMERA            = SPPERMISSION_CAMERA
SPPERMISSION_PHOTOLIBRARY      = SPPERMISSION_PHOTOLIBRARY
SPPERMISSION_NOTIFICATION      = SPPERMISSION_NOTIFICATION
SPPERMISSION_MICROPHONE        = SPPERMISSION_MICROPHONE
SPPERMISSION_CALENDAR          = SPPERMISSION_CALENDAR
SPPERMISSION_CONTACTS          = SPPERMISSION_CONTACTS
SPPERMISSION_REMINDERS         = SPPERMISSION_REMINDERS
SPPERMISSION_SPEECH            = SPPERMISSION_SPEECH
SPPERMISSION_LOCATION          = SPPERMISSION_LOCATION
SPPERMISSION_MOTION            = SPPERMISSION_MOTION
SPPERMISSION_MEDIALIBRARY      = SPPERMISSION_MEDIALIBRARY
SPPERMISSION_BLUETOOTH         = SPPERMISSION_BLUETOOTH

SPPERMISSION_FLAGS = $(SPPERMISSION_CAMERA) $(SPPERMISSION_PHOTOLIBRARY) $(SPPERMISSION_NOTIFICATION) $(SPPERMISSION_MICROPHONE) $(SPPERMISSION_CALENDAR) $(SPPERMISSION_CONTACTS) $(SPPERMISSION_REMINDERS) $(SPPERMISSION_SPEECH) $(SPPERMISSION_LOCATION) $(SPPERMISSION_MOTION) $(SPPERMISSION_MEDIALIBRARY) $(SPPERMISSION_BLUETOOTH) //&(SPPERMISSION_BLUETOOTH)

SWIFT_ACTIVE_COMPILATION_CONDITIONS= $(inherited) $(SPPERMISSION_FLAGS)
